/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-white text-gray-800;
  }
}
html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}

body {
  @apply bg-white text-black;
}

/* h1 {
  color: theme('colors.primary');
}
 h2, h3 {
  color: theme('colors.secondary');
} */

#root {
  background-color: theme('colors.white');
}

/* Focus styles for accessibility. Outline when pressing tab*/
button:focus-visible,
a:focus-visible {
  outline: 2px solid  theme('colors.primary');
  outline-offset: 2px;
}